body {
    background-color: #000000;
}

h1 {
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.counterImage {
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    cursor: default;
}

p {
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
}